
.area_select {
	border: 2px solid #6666ff;
	background-color: #9999ff;
	/*box-shadow: inset 2px 2px 5px #666666;*/
}

.area_over {
	background-color: #ccccff;
}


.memory_normal {
	color: #6666ff;
}
.memory_special {
	color: #ff66ff;
}
.memory_holiday {
	color: #ff6666;
}


.event_bar {
	color: #6666ff;
	border: 2px solid #66ff66;
	background-color: #99ff99;
}